app.css
/* About 페이지 스타일 */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.header_left_intro {
  margin-top: 74px;
  color: #ffae00;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.header_left_introduce {
  margin-top: 18px;
  font-family: Pretendard;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.header_left_introduce_body_container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header_left_introduce_body {
  margin: none;
  color: #363636;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
}
.btn_header {
  font-family: Pretendard;
  padding: 12px 64px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  background: green;
  color: white;
  border: none;
  width: 210px;
}
